<div class="container">
  <h4>여행자 찾기</h4>
  <div class="divider"></div>
  <br>
  <div class="row">
    <div class="col xl3 l4 m6 s12">
      <div class="card">
        <div class="card-image">
          <%= image_tag('3.png', class:"responsive-img")%>
        </div>
        <div class="card-content">
          <p>탐색꾼</p>
        </div>
      </div>
    </div>
    <div class="col xl3 l4 m6 s12">
      <div class="card">
        <div class="card-image">
          <%= image_tag('profile-demo.jpg', class:"responsive-img")%>
        </div>
        <div class="card-content">
          <p>등대지기</p>
        </div>
      </div>
    </div>
  </div>

</div>
