<div class="container">
  <h4>여행자 찾기</h4>
  <div class="divider"></div>
  <br>
  <div class="row">
    <div class="col xl3 l4 m6 s12">
      <div class="card">
        <div class="card-image">
          <%= image_tag('3.png')%>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col xl3 l4 m6 s12">
      <div class="card">
        <div class="card-image">
          <%= image_tag('3.png')%>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

</div>
