<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s1">
          Tripmate
        </div>
        <div class="col s1">
          Privacy
        </div>
        <div class="col s1">
          Terms
        </div>
        <div class="col s1">
          Contact
        </div>
      </div>
    </div>
  </div>
</footer>
