<!--logo and nevigation--->
  <nav>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">
        <i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="sass.html">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li>
          <a href="badges.html">
            <i class="material-icons">view_module</i>
          </a>
        </li>
        <li>
          <a href="collapsible.html">
            <i class="material-icons">refresh</i>
          </a>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="로그인">
          <%= link_to new_user_session_path do %>
            <i class="material-icons">lock</i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
