<!--logo and nevigation--->
  <nav>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">
        <i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <a href="sass.html">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="로그아웃">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="material-icons">power_settings_new</i>
          <% end %>
        </li>
      <% else %>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="회원가입">
          <%= link_to new_user_registration_path do %>
            <i class="material-icons">perm_identity</i>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="로그인">
          <%= link_to new_user_session_path do %>
            <i class="material-icons">lock</i>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
