<html>
  <head>
    <head>
    <style>
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
    /***** Hover Effect *****/
    .hoverEffect { float:left; position:relative; width: 500px; height:300px; margin:30px; overflow:hidden; border-radius: 30px;}
    .hoverEffect .image { display:block; opacity:1; position:relative; transform:scale(1.2); transition:0.5s ease; max-width: 100%; max-height: 100%;}
    .hoverEffect:hover>.image { transform:scale(1); filter: blur(5px); opacity:0.3; max-width: 100%; max-height: 100%;}
    .hoverEffect .txt {color:black; font-size:20px; top:50%; left:50%; text-align:center; line-height:20px; position:absolute; top:0; left:0; height:100%; width: 100%; background:rgba(195,193,149,0); opacity:0; overflow:hidden; transform:scale(2); transition:0.3s ease; }
    .hoverEffect:hover .txt { background:rgba(195,193,149,0.5); transform:scale(1); opacity:1;}
    .hoverEffect .txt h3 { font-size:30px; margin:120px 0 10px 0; }
    </style>
    </head>
  </head>
  <body>
    <!--매뉴바-->
      <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large red">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red">
                    <i class="material-icons">insert_chart</i>
                </a>
            </li>
            <li>
                <a class="btn-floating yellow darken-1">
                    <i class="material-icons">format_quote</i>
                </a>
            </li>
            <li>
                <a class="btn-floating green">
                    <i class="material-icons">publish</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue">
                    <i class="material-icons">attach_file</i>
                </a>
            </li>
        </ul>
    </div>
    <main>
        <!--동영상재생-->
        <%= video_tag("tm.mp4", size: "250x250", controls: true, autobuffer: true )%>
        <!--트립메이트 로고-->
        <div id="main-background" class="parallax-container valign-wrapper">
            <div class="row">

                <div class="col xl12 l12 m12 s12 center-align">
                    <img id="ideathon_logo" class="responsive-img" src="http://www.practicallyperfectpa.com/wp-content/uploads/2017/07/TripMate-Getthere-Logo-1-1000x388.png" alt="Ideathon logo">
                </div>
                <div class="col xl12 l12 m12 s12 center-align">
                    <br>
                </div>
                <div class="col xl12 l12 m12 s12 center-align">
                    <a class="btn-large waves-effect waves-light" href="/posts">빠른 매칭</a>
                </div>
            </div>
        </div>

        <!---트립메이트의 3가지특성-------->
        <div class="row">
            <div id="empresas" class="col s10 centralize center">
                <div class="col s12 m4 box-solution">
                    <div class="icon-block">
                        <span class="lnr lnr-camera-video circle blue lighten-2 white-text"></span>
                        <img id="ideathon_logo" class="responsive-img" src="http://brainpersonalityconnection.com/images/Logo.jpg" alt="Ideathon logo" height="200" width="200">
                        <h5 class="center blue-text text-lighten-2 light">
                            Find your Character</h5>
                        <p class="grey-text text-darken-3 col s10 centralize">
                            자신의 역할을 결정하세요. 여행시 어떤역을해야될지 고민되셧죠? TripMate는 여행시 필요한 역할분담을 할수있도록 도와줍니다.</p>
                    </div>
                </div>
                <div class="col s12 m4 box-solution">
                    <div class="icon-block">
                        <span class="lnr lnr-magic-wand circle blue lighten-2 white-text"></span>
                        <img
                            id="ideathon_logo"
                            class="responsive-img"
                            src="https://previews.123rf.com/images/deskcube/deskcube1508/deskcube150800093/43475654-Trabajo-en-equipo-Gente-logotipo-Imagen-de-cinco-personas-Foto-de-archivo.jpg"
                            alt="Ideathon logo"
                            height="200"
                            width="200">
                    </div>
                    <h5 class="center blue-text text-lighten-2 light">Find your mates</h5>
                    <p class="grey-text text-darken-3 col s10 centralize">
                        자신과 코드가 맞는 여행친구를 찾아보세요. 가끔은 색다른친구들과 여행을떠나는것도 좋은경험이에요.</p>
                </div>
            </div>
            <div class="col s12 m4 box-solution">
                <div class="icon-block">
                    <span class="lnr lnr-rocket circle blue lighten-2 white-text"></span>
                    <img
                        id="ideathon_logo"
                        class="responsive-img"
                        src="https://previews.123rf.com/images/deskcube/deskcube1508/deskcube150800093/43475654-Trabajo-en-equipo-Gente-logotipo-Imagen-de-cinco-personas-Foto-de-archivo.jpg"
                        alt="Ideathon logo"
                        height="200"
                        width="200">
                </div>
                <h5 class="center blue-text text-lighten-2 light">MVP</h5>
                <p class="grey-text text-darken-3 col s10 centralize">
                    이번여행의 MVP가 되어보세요. 모든사람들이 여행시 당신을 찾게될겁니다.</p>
            </div>
        </div>
    </div>

</div>


<div class="container">
      <h2 class="tripmate-intro"><strong>Tripmate</strong>를 통해서...</h2>
      <section class="hoverEffect">
      	<img src="https://aos.iacpublishinglabs.com/question/aq/700px-394px/many-people-missing-year_8e9fc97c68b730f4.jpg?domain=cx.aos.ask.com" alt="how-many" class="image">
      	<div class="txt"><h3>@@명의</h3>분들이</div>
      </section>
      <section class="hoverEffect">
      	<img src="http://laraveldaily.com/wp-content/uploads/2017/01/where_word.gif" alt="where" class="image">
      	<div class="txt"><h3>전국각지,해외에서</h3></div>
      </section>
      <section class="hoverEffect">
      	<img src="http://www.rd.com/wp-content/uploads/sites/2/2016/02/02-friends-make-you-more-attractive.jpg" alt="friends" class="image">
      	<div class="txt"><h3>아름다운 인연</h3>을 만드셨습니다# 그리고 만들고 있습니다.</div>
      </section>
      <section class="hoverEffect">
      	<img src="https://static.guideadvisor.com/wp-content/uploads/thumb-cache/Time-to-Travel-85d3dedafa29a09e471c7eae279c21cb-840x545-85-nocrop.jpg" alt="time-to-travel" class="image">
      	<div class="txt"><h3>이제</h3>당신이 주인공입니다!</div>
      </section>

    </div>
  </div>
</div>
<!--트립메이트 방문자수,매칭수,트립수 체크기능--->
<div class="container">
  <div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <%= image_tag('1.jpg', class:"responsive-img") %>
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <%= image_tag('2.jpg', class:"responsive-img") %>
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
  </div>
</div>
</body>
