<html>
    <head>
        <head>
            <style>
            @import url('https://fonts.googleapis.com/css?family=Pacifico');
              @import url( 'https://fonts.googleapis.com/css?family=Sedgwick+Ave');
                /***** Hover Effect *****/
            </style>
            <script src="js/materialize.js"></script>
            <script src="js/init.js"></script>
            <script src="js/jquery-2.1.1.min.js"></script>
        </head>
    </head>
    <body>
        <div id="head-main">
            <!--동영상재생-->
            <div id="video-container">
                <%= video_tag "Boat - 1193.mp4", :controls => true, :autobuffer => true, autoplay: :autoplay, loop: :loop%>
            </div>
            <div class="content">
                <h1>Find your mates, Trip Mates</h1>
                <p>Find your character, find your mates, find your goal and become MVP of the trip</p>
            </div>
            <!--여행찾기-->
            <div class="fixed-action-btn">
              <%= link_to posts_path, class:"btn-floating btn-large indigo pulse" do %>
                <i class="large material-icons">directions_car</i>
              <% end %>
            </div>
            <div class="empty-spacing"></div>
        </div>
        <div class="empty-spacing"></div>
        <div class="so-widget-sow-headline so-widget-sow-headline-default-0f5a0189729b">
            <div class="sow-headline-container ">
                <h1 class="sow-headline">
                    <b>ABOUT</b>
                    US</h1>
            </div>
        </div>
        <br></br>

        <!---트립메이트의 3가지특성-------->
      <div class="container">
        <div class="row">
            <div id="charoftm" class="col s12 centralize center">
                <div class="col s12 m4 box-solution">
                    <div class="icon-block">
                        <span class="lnr lnr-camera-video circle blue lighten-2 white-text"></span>
                        <i class="large material-icons">flash_on</i>
                        <h5 class="center blue-text text-lighten-2 light">
                            Find your Character</h5>
                        <p class="grey-text text-darken-3 col s10 centralize">
                            자신의 역할을 결정하세요. 여행시 어떤역을해야될지 고민되셧죠? TripMate는 여행시 필요한 역할분담을 할수있도록 도와줍니다.</p>
                    </div>
                </div>

                <div class="col s12 m4 box-solution">
                    <div class="icon-block">
                        <span class="lnr lnr-magic-wand circle blue lighten-2 white-text"></span>
                        <i class="large material-icons">supervisor_account</i>
                        <h5 class="center blue-text text-lighten-2 light">
                            Find your mates</h5>
                        <p class="grey-text text-darken-3 col s10 centralize">
                            자신과 코드가 맞는 여행친구를 찾아보세요. 가끔은 색다른친구들과 여행을떠나는것도 좋은경험이에요.</p>
                    </div>
                </div>
                <div class="col s9 m4 box-solution">
                    <div class="icon-block">
                        <span class="lnr lnr-rocket circle blue lighten-2 white-text"></span>
                        <i class="large material-icons">thumb_up</i>
                        <h5 class="center blue-text text-lighten-2 light">Find your MVP</h5>
                        <p class="grey-text text-darken-3 col s10 centralize">
                            이번여행의 MVP가 되어보세요. 모든사람들이 여행시 당신을 찾게될겁니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container" id="overlay">
        <div class="parallax"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Lanikai_2009_wide.jpg" alt="Unsplashed background img 2" style="bottom: autofocus; display: block;">></div>
    </div>
    <div class="empty-spacing"></div>
    <h2 class="tripmate-intro">
        <strong>Tripmate</strong>를 통해서...</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col s6">
            <section class="hoverEffect">
                <img src="https://aos.iacpublishinglabs.com/question/aq/700px-394px/many-people-missing-year_8e9fc97c68b730f4.jpg?domain=cx.aos.ask.com" alt="how-many" class="image">
                <div class="txt">
                    <h3>@@명의</h3>분들이</div>
            </section>
        </div>
        <div class="col s6">
            <section class="hoverEffect">
                <img src="http://laraveldaily.com/wp-content/uploads/2017/01/where_word.gif" alt="where" class="image">
                <div class="txt">
                    <h3>전국각지,해외에서</h3>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <section class="hoverEffect">
                <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/02/02-friends-make-you-more-attractive.jpg" alt="friends" class="image">
                <div class="txt">
                    <h3>아름다운 인연</h3>을 만드셨습니다# 그리고 만들고 있습니다.</div>
            </section>
        </div>
        <div class="col s6">
            <section class="hoverEffect">
                <img src="https://static.guideadvisor.com/wp-content/uploads/thumb-cache/Time-to-Travel-85d3dedafa29a09e471c7eae279c21cb-840x545-85-nocrop.jpg" alt="time-to-travel" class="image">
                <div class="txt">
                    <h3>이제</h3>당신이 주인공입니다!</div>
            </section>
        </div>
    </div>
</div>
<div class="empty-spacing"></div>
<div class="parallax-container" id="overlay">
    <div class="parallax"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Lanikai_2009_wide.jpg" alt="Unsplashed background img 2" style="bottom: autofocus; display: block;">></div>
</div>
<div class="empty-spacing"></div>
<!--트립메이트 방문자수,매칭수,트립수 체크기능--->
<div class="container">
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                  <%= image_tag('http://cfile29.uf.tistory.com/image/25736B35521CC61207BC57', class:"responsive-img") %>
                    <span class="card-title">이 주의 BEST6</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">동료들의 코멘트 보러가기</a>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                    <%= image_tag('http://lastsecond.asia/wp-content/uploads/2016/03/%D8%AA%D9%88%D8%B5%D9%8A%D9%87-%D8%B3%D9%81%D8%B17.jpeg', class:"responsive-img") %>
                    <span class="card-title">이 주의 BEST TRIP</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">여행리뷰 보러가기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
