<div class="empty-spacing"></div>
<div class="empty-spacing"></div>
<ul id="tabs-swipe-demo" class="tabs">
   <li class="tab col s3"><a href="#test-swipe-1"><span class="card-title">
           N분의 여행</span>
   </h2></a></li>
   <li class="tab col s3"><a class="active" href="#test-swipe-2"><span class="card-title">
           부르는게 맛집</span>
   </h2></a></li>
   <li class="tab col s3"><a href="#test-swipe-3"><span class="card-title">
           let's 축제</span>
   </h2></a></li>
 </ul>

 <div id="test-swipe-1" class="col s12"><div class="empty-spacing"></div>
 <div class="empty-spacing"></div>
   <div class="container">
     <div class="row">
       <div class="col s7">
         <section class="hoverEffect">
           <img src="http://cfile24.uf.tistory.com/image/213C9A345225669622664D" alt="how-many" class="image">
           <div class="txt">
             <h3>서울</h3>청계천</div>
         </section>
       </div>
       <div class="col s5">
         <section class="hoverEffect">
           <img src="http://www.theuniv.co.kr/news/photo/201612/310_726_116.png" alt="where" class="image">
           <div class="txt">
             <h3>전주</h3>한옥마을
           </div>
       </section>
       </div>
     </div>
     <div class="row">
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://cfile22.uf.tistory.com/image/261FB65057D26EB7275392" alt="friends" class="image">
           <div class="txt">
             <h3>용인</h3>에버렌드</div>
         </section>
       </div>
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://cfile22.uf.tistory.com/image/261FB65057D26EB7275392" alt="friends" class="image">
           <div class="txt">
             <h3>용인</h3>에버렌드</div>
         </section>
       </div>
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://cfile7.uf.tistory.com/image/154C72384F6701752CF332" alt="time-to-travel" class="image">
           <div class="txt">
             <h3>경주</h3>불국사</div>
         </section>
      </div>
     </div>
     <div class="row">
       <div class="col s6">
         <section class="hoverEffect">
           <img src="http://cfile10.uf.tistory.com/image/215F044057428F5F13C47A" alt="friends" class="image">
           <div class="txt">
             <h3>부산</h3>해운대</div>
         </section>
       </div>
       <div class="col s6">
       <section class="hoverEffect">
           <img src="http://sujaeshop.kr/wp-content/uploads/2017/01/%EC%84%B1%EC%82%B0%EC%9D%BC%EC%B6%9C%EB%B4%89_%EC%9B%8C%ED%84%B0%EB%A7%88%ED%81%AC.jpg" alt="time-to-travel" class="image">
           <div class="txt">
             <h3>제주</h3>성산일출봉</div>
         </section>
       </div>
     </div>
   </div>
   <div class="empty-spacing"></div>
</div>


 <div id="test-swipe-2" class="col s12"><div class="empty-spacing"></div>
 <div class="empty-spacing"></div>
   <div class="container">
     <div class="row">
       <div class="col s5">
         <section class="hoverEffect">
           <img src="http://cfs9.tistory.com/upload_control/download.blog?fhandle=YmxvZzIxNzU2QGZzOS50aXN0b3J5LmNvbTovYXR0YWNoLzAvMTguYm1w" alt="how-many" class="image">
           <div class="txt">
             <h3>서울</h3>청계천</div>
         </section>
       </div>
       <div class="col s7">
         <section class="hoverEffect">
           <img src="http://cfile21.uf.tistory.com/image/210FAA3E5264EA161D7E88" alt="where" class="image">
           <div class="txt">
             <h3>전주</h3>한옥마을
           </div>
       </section>
       </div>
     </div>
     <div class="row">
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://nihombashi-tokyo.com/kr/wp-content/uploads/2014/11/DSC_4640aa-640x475.jpg" alt="friends" class="image">
           <div class="txt">
             <h3>용인</h3>에버렌드</div>
         </section>
       </div>
       <div class="col s4">
         <section class="hoverEffect">
           <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/%EC%A3%BC%EC%8B%9D%ED%9A%8C%EC%82%AC_%EC%97%94%EC%95%84%EC%9D%B4%EC%97%90%ED%94%84%EC%95%A4%EC%94%A8_%EB%8B%90%EB%A6%AC_%ED%8C%8C%EC%8A%A4%ED%83%80_%EC%9D%8C%EC%8B%9D_%EC%82%AC%EC%A7%8410.jpg"
            alt="friends" class="image">
           <div class="txt">
             <h3>용인</h3>에버렌드</div>
         </section>
       </div>
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://cfile7.uf.tistory.com/image/154C72384F6701752CF332" alt="time-to-travel" class="image">
           <div class="txt">
             <h3>경주</h3>불국사</div>
         </section>
      </div>
     </div>
     <div class="row">
       <div class="col s7">
         <section class="hoverEffect">
           <img src="http://cfile10.uf.tistory.com/image/215F044057428F5F13C47A" alt="friends" class="image">
           <div class="txt">
             <h3>부산</h3>해운대</div>
         </section>
       </div>
       <div class="col s5">
       <section class="hoverEffect">
           <img src="http://sujaeshop.kr/wp-content/uploads/2017/01/%EC%84%B1%EC%82%B0%EC%9D%BC%EC%B6%9C%EB%B4%89_%EC%9B%8C%ED%84%B0%EB%A7%88%ED%81%AC.jpg" alt="time-to-travel" class="image">
           <div class="txt">
             <h3>제주</h3>성산일출봉</div>
         </section>
       </div>
     </div>
   </div>
   <div class="empty-spacing"></div>
</div>


 <div id="test-swipe-3" class="col s12"><div class="empty-spacing"></div>
 <div class="empty-spacing"></div>
   <div class="container">
     <div class="row">
       <div class="col s7">
         <section class="hoverEffect">
           <img src="http://cfile24.uf.tistory.com/image/213C9A345225669622664D" alt="how-many" class="image">
           <div class="txt">
             <h3>서울</h3>청계천</div>
         </section>
       </div>
       <div class="col s5">
         <section class="hoverEffect">
           <img src="http://www.theuniv.co.kr/news/photo/201612/310_726_116.png" alt="where" class="image">
           <div class="txt">
             <h3>전주</h3>한옥마을
           </div>
       </section>
       </div>
     </div>
     <div class="row">
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://cfile22.uf.tistory.com/image/261FB65057D26EB7275392" alt="friends" class="image">
           <div class="txt">
             <h3>용인</h3>에버렌드</div>
         </section>
       </div>
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://cfile22.uf.tistory.com/image/261FB65057D26EB7275392" alt="friends" class="image">
           <div class="txt">
             <h3>용인</h3>에버렌드</div>
         </section>
       </div>
       <div class="col s4">
         <section class="hoverEffect">
           <img src="http://cfile7.uf.tistory.com/image/154C72384F6701752CF332" alt="time-to-travel" class="image">
           <div class="txt">
             <h3>경주</h3>불국사</div>
         </section>
      </div>
     </div>
     <div class="row">
       <div class="col s6">
         <section class="hoverEffect">
           <img src="http://cfile10.uf.tistory.com/image/215F044057428F5F13C47A" alt="friends" class="image">
           <div class="txt">
             <h3>부산</h3>해운대</div>
         </section>
       </div>
       <div class="col s6">
       <section class="hoverEffect">
           <img src="http://sujaeshop.kr/wp-content/uploads/2017/01/%EC%84%B1%EC%82%B0%EC%9D%BC%EC%B6%9C%EB%B4%89_%EC%9B%8C%ED%84%B0%EB%A7%88%ED%81%AC.jpg" alt="time-to-travel" class="image">
           <div class="txt">
             <h3>제주</h3>성산일출봉</div>
         </section>
       </div>
     </div>
   </div>
   <div class="empty-spacing"></div>
</div>
<!--<h2 class="tripmate-intro">
<span class="card-title">
        N분의 여행</span>
</h2>
</div>-->
