<div class="empty-spacing"></div>
-    <div class="empty-spacing"></div>
-    <h2 class="tripmate-intro">
-      <span class="card-title">
-        Tripmates의 여행지추천</span>
-    </h2>
-  </div>
-  <div class="empty-spacing"></div>
-  <div class="empty-spacing"></div>
-  <div class="container">
-    <div class="row">
-      <div class="col s6">
-        <section class="hoverEffect">
-          <img src="http://cfile24.uf.tistory.com/image/213C9A345225669622664D" alt="how-many" class="image">
-          <div class="txt">
-            <h3>서울</h3>청계천</div>
-        </section>
-      </div>
-      <div class="col s6">
-        <section class="hoverEffect">
-          <img src="http://www.theuniv.co.kr/news/photo/201612/310_726_116.png" alt="where" class="image">
-          <div class="txt">
-            <h3>전주</h3>한옥마을
-          </div>
-        </section>
-      </div>
-    </div>
-    <div class="row">
-      <div class="col s6">
-        <section class="hoverEffect">
-          <img src="http://cfile22.uf.tistory.com/image/261FB65057D26EB7275392" alt="friends" class="image">
-          <div class="txt">
-            <h3>용인</h3>에버렌드</div>
-        </section>
-      </div>
-      <div class="col s6">
-        <section class="hoverEffect">
-          <img src="http://cfile7.uf.tistory.com/image/154C72384F6701752CF332" alt="time-to-travel" class="image">
-          <div class="txt">
-            <h3>경주</h3>불국사</div>
-        </section>
-      </div>
-    </div>
-    <div class="row">
-      <div class="col s6">
-        <section class="hoverEffect">
-          <img src="http://cfile10.uf.tistory.com/image/215F044057428F5F13C47A" alt="friends" class="image">
-          <div class="txt">
-            <h3>부산</h3>해운대</div>
-        </section>
-      </div>
-      <div class="col s6">
-        <section class="hoverEffect">
-          <img src="http://sujaeshop.kr/wp-content/uploads/2017/01/%EC%84%B1%EC%82%B0%EC%9D%BC%EC%B6%9C%EB%B4%89_%EC%9B%8C%ED%84%B0%EB%A7%88%ED%81%AC.jpg" alt="time-to-travel" class="image">
-          <div class="txt">
-            <h3>제주</h3>성산일출봉</div>
-        </section>
-      </div>
-    </div>
-  </div>
-
-  <div class="empty-spacing"></div>
