<div class="container">
  <div class="row">
    <div class="empty-spacing"></div>
    <div class="col offset-s2"></div>
    <div class="input-field col s8">
      <select>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>가고 싶은 여행지를 선택하세요</label>
    </div>
    <div class="col offset-s2"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col offset-s2"></div>
    <div class="col s8">
      <div class="trip-box">
        <div class="card">
          <div class="card-image">
            <%= image_tag('3.png')%>
            <span class="card-title">Card Title</span>
            <%=link_to new_post_path, class:"btn-floating halfway-fab waves-effect waves-light red" do%>
              <i class="material-icons">add</i>
            <% end %>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col offset-s2"></div>
  </div>
  <div class="row">
    <div class="col offset-s2"></div>
    <div class="col s8">
      <div class="trip-box">
        <div class="card">
          <div class="card-image">
            <%= image_tag('3.png')%>
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col offset-s2"></div>
  </div>
</div>
