//img.responsive-imgz {
//  width: 100px !important;
//  height: 150px;
//  border-style: ridge;
//}

img.responsive-img {
  width: 750px !important;
  height: 200px;
}
img.responsive-img-user {
  width: 100%;
  height: 100%;
}

#head-main {
  position: relative;
}

.full-container {
  width: 100%;
  height: auto;
}

//Chanhee

#video-container
{
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;

}

video{

  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.content
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%,-50%);
  text-align: center;
}

.content h1
{
  min-width: 100%;
  min-height: 100%;
  font-family: arial;
  font-size: 4em;
  margin: 10px 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.content p
{
  min-width: 100%;
  min-height: 100%;
  font-family: arial;
  font-size: 2.5em;
  margin: 10px 0;
  color: #fff;
  text-align: center;
}
.sow-headline{
  font-family: arial;
  font-size: 2em;
  margin: 10px 0;
  color: #000;
  text-align: center;
}


.empty-spacing{
  padding-bottom: 50px;
}

#overlay {
  position: relative;;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.wd100 {
  width:100%;
}

.ht100 {
  height: 100%;
}

.pr40{
  padding-right: 20px;
}

.section_count h1
{
  font-family: arial;
  font-size: 2em;
  margin: 10px 0;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.section_count h2
{
  font-family: arial;
  font-size: .9em;
  margin: 10px 0;
  color: #000;
  text-align: center;
}

#tm{
  background-image: url(asset_path('3.png'));
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  position: relative;
}
//CSS for tooltip
.backdrop{
  background: transparent;

}
//CSS for number counter
.counter {
  display: table-cell;
  margin:1.5%;
  font-size:50px;
  background: transparent;
  width:200px;
  border-radius: 50%;
  height:200px;
  vertical-align: middle;
}

html {
  font-family: 'Hanna', serif;
}
.card-title {
  font-family: 'Hanna', serif;
}
#insert_botton {

  font-size:50px;
}

@media screen and (max-width: 992px) {
.content h1{
    min-width: 100%;
    min-height: 100%;
    font-family: arial;
    font-size: 2.5em;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.content p{
  min-width: 100%;
  min-height: 100%;
  font-family: arial;
  font-size: 1.5em;
  margin: 10px 0;
  color: #fff;
  text-align: center;
}

}

#job_title {
  color: #99a0ab;
}
